html {
	scroll-behavior: smooth;
  }
body{color:#000}

.bttn-main a {
	color: #fff;
	border: 1px solid #FB3800;
	font-weight: 600;
	background: #FB3800;
	padding: 15px 80px;
}

.bttn-main a:hover{color: #fff;border:1px solid #000;background:#000}

.slider-text-wrapper {
	width: 70%;
	text-align: center;
	background: #D4A41E;
}
.logo-wrap {
	width: 180px;
	margin: 0 auto;
}
.logo-wrap img{width:100%;height: auto;}
.slider-subtitle {
	line-height: 70px;
	font-size: 64px;
	color: #FB3800;
	text-transform: capitalize;
	font-family: 'Caveat', cursive;
}

.slider-subtitle span {
	color: #fff;
	display: block;
	font-weight: 600;
	font-size: 54px;
	font-family: 'Montserrat', sans-serif;
}
.slider-text-wrapper p {
	font-size: 24px;
	color: #000;
	line-height: 37px;
	font-weight: 600;
}


.footer-menu {
	margin: 70px 0;
}



.other .logo-wrap {
	width: 180px;
	margin: 0px auto;
	position: relative;
	top: 23px;

}

.slider-fill{width:100%;height:670px;position:relative;}
.banner-fill{width:100%;height:350px;position:relative;}

.banner-fill img {
	margin-bottom:10px;
}
.banner-fill a {
	font-size: 24px;
	text-align: center;
	color: green;
	font-weight: 600;
	text-decoration: underline;
	
}
.section-heading {
	margin-bottom: 40px;
}


.card-title {
	
	 line-height: 32px; 
	
}

.card-item:hover {
	border: 1px solid #ddd;
}


/* ==========================================================================
    Samples Page
   ========================================================================== */
   .rh-sample-single-post .rh-post-title{font-size:48px; margin-bottom:15px;line-height:54px}
   .rh-sample-single-post .rh-post-date {
	   font-size: 16px;
	   margin-bottom: 10px;
	   line-height: 24px;
	   text-transform: capitalize;
   }
   .gap-50{height:50px;clear:both;}
   .rh-sample-single-post .textarea p{font-size: 18px;}   
   .rh-sample-single-post.textarea ol {list-style-type:decimal;margin-left:45px}   
   .rh-sample-single-post .textarea ul {list-style:disc;margin-left:45px}   
   .rh-sample-single-post .textarea h1, .textarea h2, .textarea h3,.textarea h4,.textarea h5,.textarea h6 {color:#161922;font-weight: 400;}
   .rh-sample-single-post .textarea h1 {font-size: 42px;line-height: 50px;margin-bottom:35px}
   .rh-sample-single-post .textarea h2 {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 10px;
}
   .rh-sample-single-post .textarea h3 {font-size: 28px;line-height: 29px;margin-bottom:15px;font-weight:300;}
   .rh-sample-single-post .textarea h4 {font-size: 24px;line-height: 25px;margin-bottom:15px;font-weight:500}
   .rh-sample-single-post .textarea h5 {font-size: 18px;line-height: 25px;margin-bottom:15px;font-weight:500}

   .contact-form-wraper a:hover{text-decoration: underline;}


   .slider-text-wrapper .bttn-main {
	display: none;
	}


   h1, h2 {
	color: blue;
}
   .rh-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	padding: 0 5%;
}

.image-block {
	width: 240px;
	height: 120px;
	border-radius: 0;
	margin-bottom: 0;
}
.card-item {
	margin-bottom: 0px;

}

 
 
  

.person-phone {
	font-size: 32px;
	color: #FB3800;
}

.list-evo a {
	color:blue;
}


.list-evo a:hover {
	text-decoration: underline;
}



/* ==========================================================================
	landing 06 healthratez 02
   ========================================================================== */
   .cta-need-help-area .cta-title span {
		color: #FFD801;
		margin-bottom: 20px;
		display: inline-block;
	}
	.cta-need-help-area .cta-title {
		text-transform: capitalize;
	}
	.cta-need-help-area p {
		color: #fff;
		font-size: 32px;
		font-family: 'Caveat', cursive;
		line-height: 40px;
	}
 
 
 
 
   .section-list-area .section-heading {
	margin-bottom: 80px;
}  
   .section-list-area .section-heading .section-title {
	font-size: 36px;
	line-height: 44px;
	margin-bottom: 40px;
	color: #000;
	text-transform: uppercase;
	background: #FFD801;
	padding: 14px;
	border-radius: 35px;
	font-family: 'Caveat', cursive;
}
.section-list-area .section-heading p {
	color: #000;
	font-size: 22px;
	letter-spacing: 2px;
}
.list-item-panel {
	box-shadow: 0px 8px 18px 0px rgba(125, 147, 178, 0.24);
	padding: 15px 30px;
	background: #fff;
	border-radius: 0px 30px 0px 30px;
	position: relative;
	margin-bottom: 40px;
	border-bottom: 5px solid #FFD801;
}
.overley-sl {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 50px;
	height: 50px;
	background: #FFD801;
	text-align: center;
	border-radius: 50%;
}
.overley-sl h4 {
	font-weight: 700;
	padding: 7px;
	color: #fff;
}
.card-rh.text-center {
	background: #fff;
	padding: 30px;
	box-shadow: 0px 8px 15px 0px rgba(125, 147, 178, 0.24);
	margin-bottom: 30px;
}
.rh-content p {
	font-size: 16px;
	color: #000;
}
.title-large {
	font-size: 24px;
	color: #000;
	margin-bottom: 10px;
}
.title-medium {
	font-family: 'Caveat', cursive;
	font-size: 35px;
	color: #000;
}



.sity-by-area {
	background: #000;
	padding: 12px 0;
} 