html {
	scroll-behavior: smooth;
  }
  body{color:#000}
.main-navigation-area .bttn-main {
	margin-top: 22px;
	float: right;
	background: #005422;
	color: #fff;
}
.bttn-main a {
	color: #fff;
	border: 1px solid #fff;
	font-weight: 600;
}

.bttn-main a:hover{color: #fff;border:1px solid #000;background:#000}

.style-default.tb-blc-wht .main-navigation-area .navigation ul#nav li a:hover, .style-default.tb-gray .main-navigation-area .navigation ul#nav li a:hover {
	color: #005422;
}
.slider-text-wrapper {
	width: 70%;
	text-align: center;
	background: rgba(255,255,255,.3);
}

.logo-wrap {
	width: 180px;
	margin: 0 auto;
}
.logo-wrap img{width:100%;height: auto;}
.slider-subtitle {
	line-height: 70px;
	font-size: 36px;
	color: #000;
	text-transform: capitalize;
}
.style-one {
	font-style: italic;
	display: inline !important;
	color: blue !important;
	letter-spacing: 4px;
	background-color: #fff;
	padding: 5px 10px;
}
.slider-subtitle span {
	color: #fff;
	display: block;
	font-weight: 600;
	font-size: 54px;
}
.slider-text-wrapper p {
	font-size: 24px;
	color: #000;
	line-height: 37px;
	font-weight: 600;
}

.full-width-banner .bttn-main a {
	color: #fff;
	border: 1px solid #000;
	font-weight: 600;
	background: #000;
	border-radius: 3px;
	padding: 21px 45px;
	font-size: 22px;
}


.full-width-banner .bttn-main a:hover {
	color: #fff;
	border: 1px solid #000;
	background: #000;
	
}
.cta-need-help-area {
	padding: 90px 0;
}
.cta-need-help-area .cta-title {
	font-size: 34px;
	line-height: 54px;
	text-align: center;
	color: #000;
}
.content-wrap-cta {
	background: #fff;
	padding: 10px;
}
.cta-need-help-area p {
	color: #000;
	margin: 0;
	font-size: 16px;
}
.click{margin-top: 30px;}
.click .section-title {
	color: #fff;
	font-size: 25px;
	font-style: italic;
}
.person-phone {
	color: #000;
	font-size: 20px;
}
.section-heading .section-title span {
	color: #fff;
}
.our-latest-news-area .latest-news-item .latest-news-content .inner-title {
	color: #000;
	font-size: 32px;
	line-height: 38px;
	font-weight: 600;
	
	
}
.our-latest-news-area .latest-news-item:hover .latest-news-content .inner-title {
	color: #000;
}
.our-latest-news-area .latest-news-item p {
	color: #000;
	font-size: 29px;
	line-height: 34px;
}

.our-latest-news-area .section-heading .section-title {
	color: #fff;
	
}

.contact-box-area .contact-icon {
	height: 100px;
	width: 100px;
	
}
.contact-icon .rh-img {
	width: 80%;
	height: auto;
	margin: 8px auto;
}
.contact-form-default .section-heading p {
	color: #005422;
	font-size: 20px;
	line-height: 28px;
}

.contact-form-default .contact-textarea textarea {
	height: 40px;
}
.form-check-label {
	color: #000;
}
#check8 {
	float: left;
	position: relative;
	top: 20px;
	left: -20px;
}
.footer-menu {
	margin: 70px 0;
}



.other .logo-wrap {
	width: 180px;
	margin: 0px auto;
	position: relative;
	top: 23px;

}

.slider-fill{width:100%;height:770px;position:relative;}
.banner-fill{width:100%;height:350px;position:relative;}

.banner-fill img {
	margin-bottom:10px;
}
.banner-fill a {
	font-size: 24px;
	text-align: center;
	color: green;
	font-weight: 600;
	text-decoration: underline;
	
}
.section-heading {
	margin-bottom: 40px;
}
input {
    background-color: transparent;
    border: 0px solid;
}
textarea:focus, input:focus{
    outline: none;
}
.contact-inner input[type="text"], .contact-inner input[type="date"], .contact-inner input[type="tel"] {
	color: #000;
}

label {
	color: #000;
	margin-right: 16px;
}

.contact-form-default .contact-submit input[type="submit"] {
	background: blue;
	border: medium none;
	color: #fff;
	font-weight: 400;
	margin: 15px 0;
	padding: 15px 60px;
	display: inline-block;
	border: 1px solid blue;
}

.card-title {
	
	 line-height: 32px; 
	
}

.card-item:hover {
	border: 1px solid #ddd;
}

.list-evo a{color:blue;text-decoration: underline;}
/* ==========================================================================
    Samples Page
   ========================================================================== */
   .rh-sample-single-post .rh-post-title{font-size:48px; margin-bottom:15px;line-height:54px}
   .rh-sample-single-post .rh-post-date {
	   font-size: 16px;
	   margin-bottom: 10px;
	   line-height: 24px;
	   text-transform: capitalize;
   }
   .gap-50{height:50px;clear:both;}
   .rh-sample-single-post .textarea p{font-size: 18px;}   
   .rh-sample-single-post.textarea ol {list-style-type:decimal;margin-left:45px}   
   .rh-sample-single-post .textarea ul {list-style:disc;margin-left:45px}   
   .rh-sample-single-post .textarea h1, .textarea h2, .textarea h3,.textarea h4,.textarea h5,.textarea h6 {color:#161922;font-weight: 400;}
   .rh-sample-single-post .textarea h1 {font-size: 42px;line-height: 50px;margin-bottom:35px}
   .rh-sample-single-post .textarea h2 {
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 20px;
}
   .rh-sample-single-post .textarea h3 {font-size: 28px;line-height: 29px;margin-bottom:15px;font-weight:300;}
   .rh-sample-single-post .textarea h4 {font-size: 24px;line-height: 25px;margin-bottom:15px;font-weight:500}
   .rh-sample-single-post .textarea h5 {font-size: 18px;line-height: 25px;margin-bottom:15px;font-weight:500}

   .contact-form-wraper a:hover{text-decoration: underline;}








   h1, h2 {
	color: blue;
}
   .image-area-abt{height: 400px;}
   .rh-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	padding: 0 5%;
}

.card-rh.text-center {
	background: #fff;
	padding: 30px;
	box-shadow: 2px 3px 6px #ddd;
}

.image-block {
	border-radius: 0;

}
.card-item {
	margin-bottom: 0px;

}

.our-department-area .section-heading .section-title {
	color: #fff;

}

.our-department-area .card-title {
	line-height: 32px;
	background: blue;
	color: #fff;
}

.our-department-area p {
	color: #fff;
	font-size: 28px;
	margin: 10px 0;
}

.sity-by-area {
	background: #000;
	padding: 12px 0;
}