html {
	scroll-behavior: smooth;
  }
body{color:#000}

.bttn-main a {
	color: #fff;
	border: 1px solid #FB3800;
	font-weight: 600;
	background: #FB3800;
	padding: 15px 80px;
}

.bttn-main a:hover{color: #fff;border:1px solid #000;background:#000}

.slider-text-wrapper {
	width: 70%;
	text-align: center;
	background: #44207d;
}
.logo-wrap {
	width: 180px;
	margin: 0 auto;
}
.logo-wrap img{width:100%;height: auto;}
.slider-subtitle {
	line-height: 70px;
	font-size: 64px;
	color: #FB3800;
	text-transform: capitalize;
	font-family: 'Caveat', cursive;
}

.slider-subtitle span {
	color: #fff;
	display: block;
	font-weight: 600;
	font-size: 54px;
	font-family: 'Montserrat', sans-serif;
}
.slider-text-wrapper p {
	font-size: 24px;
	color: #000;
	line-height: 37px;
	font-weight: 600;
}


.footer-menu {
	margin: 70px 0;
}



.other .logo-wrap {
	width: 180px;
	margin: 0px auto;
	position: relative;
	top: 23px;

}

.slider-fill{width:100%;height:770px;position:relative;}
.banner-fill{width:100%;height:350px;position:relative;}

.banner-fill img {
	margin-bottom:10px;
}
.banner-fill a {
	font-size: 24px;
	text-align: center;
	color: green;
	font-weight: 600;
	text-decoration: underline;
	
}
.section-heading {
	margin-bottom: 40px;
}


.card-title {
	
	 line-height: 32px; 
	
}

.card-item:hover {
	border: 1px solid #ddd;
}


/* ==========================================================================
    Samples Page
   ========================================================================== */
   .rh-sample-single-post .rh-post-title{font-size:48px; margin-bottom:15px;line-height:54px}
   .rh-sample-single-post .rh-post-date {
	   font-size: 16px;
	   margin-bottom: 10px;
	   line-height: 24px;
	   text-transform: capitalize;
   }
   .gap-50{height:50px;clear:both;}
   .rh-sample-single-post .textarea p{font-size: 18px;}   
   .rh-sample-single-post.textarea ol {list-style-type:decimal;margin-left:45px}   
   .rh-sample-single-post .textarea ul {list-style:disc;margin-left:45px}   
   .rh-sample-single-post .textarea h1, .textarea h2, .textarea h3,.textarea h4,.textarea h5,.textarea h6 {color:#161922;font-weight: 400;}
   .rh-sample-single-post .textarea h1 {font-size: 42px;line-height: 50px;margin-bottom:35px}
   .rh-sample-single-post .textarea h2 {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 10px;
}
   .rh-sample-single-post .textarea h3 {font-size: 28px;line-height: 29px;margin-bottom:15px;font-weight:300;}
   .rh-sample-single-post .textarea h4 {font-size: 24px;line-height: 25px;margin-bottom:15px;font-weight:500}
   .rh-sample-single-post .textarea h5 {font-size: 18px;line-height: 25px;margin-bottom:15px;font-weight:500}

   .contact-form-wraper a:hover{text-decoration: underline;}


   .slider-text-wrapper .bttn-main {
	display: none;
	}


   h1, h2 {
	color: blue;
}
   .rh-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	padding: 0 5%;
}

.card-rh.text-center {
	background: #fff;
	padding: 30px;
	box-shadow: 0px 8px 15px 0px rgba(125, 147, 178, 0.24);
}

.image-block {
	width: 240px;
	height: 120px;
	border-radius: 0;
	margin-bottom: 0;
}
.card-item {
	margin-bottom: 0px;

}

.cta-need-help-area .cta-title span {
	color: #fff;
	margin-bottom: 20px;
	display: inline-block;
}
.cta-need-help-area .cta-title {
	text-transform: capitalize;
}

.sity-by-area {
	background: #000;
	padding: 12px 0;
}

.abt-wrap {
	overflow: hidden;
	width: 100%;
	height: 400px;
	background: #FB3800;
	color: #fff;
	font-size: 25px;
	line-height: 38px;
}
 
  /* ==========================================================================
	Pricing Table
   ========================================================================== */
   .pricing-table {
	margin-bottom: 30px;
}
   .pricing-table .section-heading{margin-bottom: 80px;}
   .section-padding-150x160{padding:150px 0 160px 0}
   .pricing-table .pricing-table .pricing-head .title {
	  color: #fff;
	  font-size: 36px;
	  line-height: 54px;
	  position:relative;
  }
  .pricing-head {
	  padding: 120px 50px 50px 50px;
  }
  
  .pricing-table .pricing-table .pricing-head .sub-title{font-weight:200;color:#fff;}
  .pricing-body ul li {
	  line-height: 50px;
	  padding-left: 50px;
  }
  .pricing-body ul li:nth-child(odd) {
	  background:#fff;
  
  }
  .pricing-body ul li:nth-child(even) {
	  background:#F4F6F7;
  
  }
  
  
  .pricing-foot a {
	  border: 1px solid #00a4ef;
	  display: inline-block;
	  padding: 10px 35px;
	  color: #00a4ef;
	  text-transform: uppercase;
	  font-weight: 200;
	  margin: 10px 0 10px 50px;
	  font-family: 'Montserrat', sans-serif;
  }
  .pricing-foot a:hover {
	  border: 1px solid #00a4ef;
	  background:#00A4EF;
	  color:#fff;
  }
  
  .pricing-table .overley {
	height: 120px;
	width: 120px;
	background: #b49cdb;
	border-radius: 50%;
	position: absolute;
	top: 60px;
	left: 10%;
	transform: translate(-10%,-120px);
}
.pricing-table .overley h4 {
	color: #fff;
	display: inline-block;
	padding: 36px;
	text-align: center;
	font-size: 50px;
	line-height: 37px;
	font-weight: 700;
}
  .pricing-table .overley h4 span{display:block;color:#99a9b5;font-size:16px;line-height:25px;}
  
  .pricing-foot {
	  background: #fff;
	  padding: 20px 0px;
  }
  
  .border-wrapper{border-left:1px solid #DFE5E8;border-right:1px solid #DFE5E8;margin-right:-1px;border-bottom:1px solid #DFE5E8;}
  
  .title-large {
	font-family: 'Caveat', cursive;
	font-size: 45px;
	color: purple;
}

  
  
.title-medium {
	font-family: 'Caveat', cursive;
	font-size: 35px;
	color: purple;
}
.person-phone {
	font-size: 32px;
	color: #FB3800;
}

.list-evo a {
	color:blue;
}


.list-evo a:hover {
	text-decoration: underline;
}