
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	
  .logo-wrap {
    width: 120px;

  }
  .slider-subtitle span {
    font-size: 42px;
  }
  .slider-subtitle {
    line-height: 60px;
    font-size: 28px;
  }

  label {
    color: #000;
    margin-right: 23px;
  }
  #check8 {
    left: -5px;
  }


.slider-fill {
  height: 600px;

}
.slider-middel-text h1 {
  font-size: 60px;
}
.slider-middel-text {
  width: 80%;
}
.section-padding {
  padding: 50px 0;
}
.section-title {
  font-size: 36px;
}

}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .logo-wrap {
    width: 120px;

  }
  .slider-subtitle span {
    font-size: 42px;
  }
  .slider-subtitle {
    line-height: 60px;
    font-size: 28px;
  }

  label {
    color: #000;
    margin-right: 23px;
  }
  #check8 {
    left: -5px;
  }


.slider-fill {
  height: 600px;

}

.footer-area .rh-img {
	width: 150px;
  margin:0 auto
}

.sity-by-area {
	background: #08232E;
	padding: 12px 0;
	text-align: center;
}
}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

  .logo-wrap {
    width: 80px;

  }
  .slider-text-wrapper {
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);

  }
  .slider-subtitle span {
    font-size: 22px;
  }
  .slider-subtitle {
    line-height: 40px;
    font-size: 18px;
  }

  label {
    color: #000;
    margin-right: 0;
    display: inline-block;
  }
  #check8 {
    left: -15px;
  }

  
  
  .slider-fill{height:370px;}
  
  .slider-text-wrapper {
    width: 100%;
    padding: 0 20%;
  }

  .bttn-main a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .slider-text-wrapper p {
    font-size: 16px;
    line-height: 28px;
    
  }
  .full-width-banner .bttn-main a {

    padding: 14px 19px;
    font-size: 18px;
  }


  .card-rh {
    margin-bottom: 30px;
  }

  .click .section-title {
    padding: 0 5%;
  }
  .contact-form-default .contact-sin-wraper {
    margin-left: 0;

  }
  .contact-form-default .contact-inner {
    float: none;
    margin-bottom: 15px;
    margin-left: 0;
    width: 100%;
  }

  .card-item {
    padding: 20px;
    margin-bottom: 50px;
  }
}
/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 579px) and (max-width: 767px) {

.testimonial-area {
  height: auto;
}

.slicknav_btn {
  top: 3px;
}
.slicknav_nav {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  z-index:1;
}




}
